@use "var";

.infos-bar{
    padding: 16px 24px;
    background-color: var.$textColor;
    display: flex;
    width: max-content;
    margin: 0 auto;
    border-radius: 8px;

    &__infos{
        display: flex;
        gap: 40px;

        &__item{
            font-size: 14px;
            color: var.$secondaryTextColor;

            b{
                color: var.$secondaryTextColor;
                font-size: 18px;
                display: block;
            }
        }
    }

    @media (max-width: 640px){
        display: block;

        &__infos{
            display: block;

            &__item{
                margin-bottom: 24px;
            }
        }
    }
}